@charset "utf-8";
@import '_reset';
@import '_fonts';
@import '_fullpage';
@import '_slick';

/* mixin */
@mixin clearfix {
	&::after {
		content: "";
		display: block;
		clear: both;
	}

}

@mixin ani_up_hide {
	opacity: 0;
	transform: translatey(30%);
}

@mixin ani_up_show {
	opacity: 1;
	transform: translatey(0%);
	transition: all .7s;
	transition-delay: .2s;
}

@keyframes move {
	from {
		opacity: 0;
		visibility: hidden;
		transform: translate3d(0, 40px, 0);
	}

	to {
		opacity: 1;
		visibility: visible;
		transform: none;
	}

}

@keyframes rotate_image {
	100% {
		transform: rotate(360deg);
	}

}

.color_red {
	color: #ff0000;
}

body {
	font-family: 'Noto Sans Korean', sans-serif;
}

.blind {
	border: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
}

header {
	position: fixed;
	left: 3.125%;
	top: 4.07%;
	z-index: 10;

	h1 {
		img {
			max-height: 24px;
		}

	}

}

.i_scroll {
	position: fixed;
	right: 1.8%;
	bottom: 7.4%;
	z-index: 20;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #333;
	transform: rotate(90deg);

	i {
		display: inline-block;
		margin-right: 8px;
		width: 8px;
		height: 8px;
		background: #398cf0;
		border-radius: 50%;
	}

}

.section {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	word-break: keep-all;
	box-sizing: border-box;
	padding: 0 3.125%;
	z-index: 20;

	.inner {
		position: relative;
		margin: 0 auto;
		max-width: 1920px;
		width: 71.111%;
		z-index: 20;
		box-sizing: border-box;
	}

	h2,
	h3 {
		font-size: 28px;
		color: #333;
		text-align: left;

		strong {
			font-weight: bold;
		}

		.underline {
			position: relative;

			&::before {
				display: inline-block;
				position: absolute;
				content: '';
				width: 100%;
				height: 16px;
				background: rgba(57, 140, 240, .2);
				left: 0;
				bottom: 5px;
			}

		}

		em {
			color: rgb(57, 140, 240);
		}

	}

}

.bar_wrap {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 3.125%;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	box-sizing: border-box;
	z-index: 0;

	.bar {
		width: 16.66%;
		height: 100%;
		border-left: 1px solid #ebf0f5;

		&:nth-child(7) {
			border-right: 1px solid #ebf0f5;
		}

	}

}

.btn_app_down {
	display: flex;
	justify-content: flex-start;

	a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 220px;
		height: 60px;
		margin-right: 20px;
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		font-weight: bold;
		text-decoration: none;
		border-radius: 8px;
		box-sizing: border-box;

		i {
			margin: -3px 10px 0 0;
			display: inline-block;
			vertical-align: middle;
			background-repeat: no-repeat;
			background-position: 0 0;
		}

		&.i_android {
			color: #fff;
			background: #333;

			i {
				width: 25px;
				height: 25px;
				background-image: url(../images/icon_android.png);
			}

		}

		&.i_ios {
			border: 1px solid #333;
			color: #000;
			background: #fff;

			i {
				width: 23px;
				height: 28px;
				background-image: url(../images/icon_ios.png);
			}

		}

	}

}

h3.title {
	>span {
		font-family: 'Roboto', sans-serif;
		font-size: 24px;
		font-weight: bold;
		line-height: 26px;
	}

	margin-bottom: 40px;
	font-size: 48px;
	line-height: 64px;
	letter-spacing: -1.2px;

	em {
		color: #333;
	}

}

.summary {
	font-size: 16px;
	line-height: 26px;
	letter-spacing: -.4px;
	color: #666;
	text-align: left;
}

.pc_img {
	display: block;
}

.m_img {
	display: none;
}

.m_app_down {
	display: none;
}

/* section01 */
.sec01 {
	.lst_sns {
		@include clearfix;
		position: absolute;
		left: 3.125%;
		top: 50%;
		transform: translateY(-50%);
		z-index: 20;

		li {
			display: block;
			margin-bottom: 24px;
			width: 19px;
			height: 19px;
			@include ani_up_hide;
		}

		a {
			display: block;
			margin: 0 auto;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			font-size: 0;

			&.i_insta {
				width: 18px;
				height: 18px;
				background-image: url(../images/icon_insta.png);
			}

			&.i_facebook {
				width: 9px;
				height: 19px;
				background-image: url(../images/icon_facebook.png);
			}

			&.i_tictok {
				width: 16px;
				height: 18px;
				background-image: url(../images/icon_tictok.png);
			}

			&.i_youtube {
				width: 19px;
				height: 17px;
				background-image: url(../images/icon_youtube.png);
			}

		}

	}

	.inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	h2 {
		margin-bottom: 107px;
		font-size: 56px;
		line-height: 72px;
		letter-spacing: -1.4px;
		@include ani_up_hide;
	}

	.m_view {
		@include ani_up_hide;
		transform: translatey(10%);
	}

	.btn_app_down {
		@include ani_up_hide;
	}

	&.action {
		h2,
		.m_view,
		.btn_app_down,
		.lst_sns li {
			@include ani_up_show;
		}

		.btn_app_down {
			transition-delay: .7s;
		}

	}

}

/* section02 */
.sec02 {
	background: {
		image: url(../images/bg_gradient.png);
		repeat: no-repeat;
		position: 50% 50%;
	}

	.bar_wrap {
		.bar {
			border-left: 1px solid rgba(51,51,51,.05);
		}
		
	}

	.inner {
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	.tit {
		position: relative;
		margin: 20% 0;
		width: 100%;
		overflow: visible;
		opacity: 1;
		z-index: 20;
	}

	h3 {
		text-align: center;
		font-size: 36px;
		font-weight: bold;
		line-height: 52px;
		letter-spacing: -.9px;
	}

	ul {
		@include clearfix;
		margin-bottom: 25px;
		text-align: center;

		li {
			display: inline-block;
			margin: 0 4px;
			padding: 0 16px;
			height: 32px;
			line-height: 32px;
			font-size: 14px;
			letter-spacing: -.35px;
			color: #fff;
			border-radius: 16px;
			background-color: #8e97ad;
		}

	}

	.speech_bubble {
		position: absolute;
		padding: 25px 0;
		width: 260px;
		border-radius: 16px;
		box-shadow: -4.2px 2.6px 27px 3px rgba(153, 153, 153, 0.05);
		background-color: #fff;
		font-size: 16px;
		line-height: 26px;
		letter-spacing: -.4px;
		color: #666;
		box-sizing: border-box;
		z-index: 20;
		opacity: 0;

		p {
			position: relative;

			&::before {
				position: absolute;
				content: '';
				right: 48px;
				bottom: -48px;
				width: 0;
				height: 0;
				border-top: 12px solid #fff;
				border-bottom: 12px solid transparent;
				border-right: 12px solid #fff;
				border-left: 12px solid transparent;
			}

			&::after {
				position: absolute;
				content: '';
				background-repeat: no-repeat;
				background-position: 0 0;
				background-size: 100%;
			}

		}

		&.lst_01 {
			top: -80%;
			left: 26%;

			p {
				&::after {
					top: 5px;
					right: -18px;
					width: 56px;
					height: 51px;
					background-image: url(../images/icon_bell.png);
				}

			}

		}

		&.lst_02 {
			top: -88.5%;
			left: 58%;

			p {
				&::after {
					top: -50px;
					right: -12px;
					width: 41px;
					height: 61px;
					background-image: url(../images/icon_fire.png);
				}

			}

		}

		&.lst_03 {
			top: 55%;
			left: 14.4%;

			p {
				&::after {
					top: -46px;
					right: -14px;
					width: 59px;
					height: 58px;
					background-image: url(../images/icon_puzzle.png);
				}

			}

		}

		&.lst_04 {
			bottom: -80%;
			left: 48%;

			p {
				&::after {
					top: -46px;
					right: 0;
					width: 50px;
					height: 63px;
					background-image: url(../images/icon_stand.png);
				}

			}

		}

		&.lst_05 {
			top: 50%;
			right: 15%;

			p {
				&::after {
					top: -46px;
					right: -9px;
					width: 52px;
					height: 55px;
					background-image: url(../images/icon_lens.png);
				}

			}

		}

	}

	&.action {
		.tit {
			animation-delay: .5s;
		}

		.tit,
		.speech_bubble {
			animation-name: move;
			animation-duration: .3s;
			animation-fill-mode: both;

			&.lst_01 {
				animation-delay: .7s;
			}

			&.lst_02 {
				animation-delay: .9s;
			}

			&.lst_03 {
				animation-delay: 1.1s;
			}

			&.lst_04 {
				animation-delay: 1.3s;
			}

			&.lst_05 {
				animation-delay: 1.5s;
			}

		}

	}

}

/* section03 */
.sec03 {
	padding: 0;

	.inner {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	.col_left {
		width: 46.2%;
		padding-left: 16.6%;
		box-sizing: border-box;

		.title,
		.summary {
			@include ani_up_hide;
		}

	}

	.m_view {
		@include ani_up_hide;
		position: relative;
		width: 53.8%;
		height: 100%;

		figure {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			text-align: left;

			img {
				position: relative;
				max-width: 525px;
				z-index: 10;
			}

		}

		.slider_wrap {
			@include ani_up_hide;
			position: absolute;
			left: 130px;
			top: 50%;
			margin-top: -105px;
			width: 100%;
			height: auto;
			z-index: 20;

			.slick-list {
				.slick-slide {
					margin-right: 22px;
					
					img {
						max-width: 321px;
						z-index: 5;
					}
					
				}
				
				.slick-current {

					img {
						opacity: 1;
						z-index: 20;
					}

				}

			}

			.slick-dots {
				position: absolute;
				top: -38px;
				left: 240px;
				z-index: 20;

				li {
					display: inline-block;
					margin: 0 3px;

					button {
						padding: 0;
						border: 0;
						outline: none;
						font-size: 0;
						width: 8px;
						height: 8px;
						border-radius: 50%;
						background: #ededed;
					}

					&.slick-active {
						button {
							background-color: #398cf0;
						}

					}

				}

			}

		}

	}

	&.action {
		.title,
		.summary,
		.slider_wrap,
		.m_view {
			@include ani_up_show;
		}

		.m_view,
		.title {
			transition-delay: .7s;
		}

		.summary,
		.slider_wrap {
			transition-delay: 1s;
		}

	}

}

/* section04 */
.sec04 {
	.inner {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.title {
		@include ani_up_hide;

		em {
			display: block;
		}

	}

	.summary {
		@include ani_up_hide;
	}

	.m_view {
		position: relative;
		width: 60%;
		text-align: left;

		figure {
			@include ani_up_hide;
			transform: translateY(10%);
		}

		.img_item {
			li {
				position: absolute;
				@include ani_up_hide;
			}

			.item01 {
				top: 34.5%;
				left: -10%;
				transform: translate(50%, 100%);
			}

			.item02 {
				top: 53.5%;
				left: 16%;
				transform: translate(-50%, 100%);
			}

		}

	}

	.col_right {
		width: 40%;
	}

	&.action {
		.title,
		.summary,
		.m_view figure,
		.img_item .item01,
		.img_item .item02 {
			@include ani_up_show;
		}

		.m_view figure,
		.title {
			transition-delay: .7s;
		}

		.summary {
			transition-delay: 1s;
		}

		.img_item .item01,
		.img_item .item02 {
			transform: translate(0, 0);
			transition-delay: 1.3s;
		}

		.img_item .item02 {
			transition-delay: 1.6s;
		}

	}

}

/* section05 */
.sec05 {
	position: relative;

	.inner {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	.col {
		position: relative;
		width: 100%;
		max-width: 770px;
		margin: auto 0;
		left: 50%;
		transform: translateX(-50%);
	}

	.title,
	.summary {
		text-align: center;
		@include ani_up_hide;
	}

	.summary {
		span {
			display: block;
		}

	}

	.title {
		@include ani_up_hide;

		em {
			display: inline-block;
		}

		.underline {
			&::before {
				width: 104%;
			}

		}

	}

	.m_view {
		@include ani_up_hide;
		text-align: center;

		img {
			max-width: 100%;
			margin: 0 auto;
		}

	}

	&.action {
		.title,
		.summary,
		.m_view {
			@include ani_up_show;
		}

		.title {
			transition-delay: .7s;
		}

		.summary {
			transition-delay: 1s;
		}

		.m_view {
			transition-delay: 1.3s;
		}

	}

}

/* section06 */
.sec06 {
	.inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.title,
	.summary {
		text-align: center;
		@include ani_up_hide;
	}

	.col {
		margin-bottom: 94px;
	}

	.m_view {
		@include ani_up_hide;

		img {
			max-width: 100%;
		}

	}

	&.action {
		.title,
		.summary,
		.m_view {
			@include ani_up_show;
		}

		.title {
			transition-delay: 1s;
		}

		.summary {
			transition-delay: 1.3s;
		}

		.m_view {
			transition-delay: 1.6s;
		}

	}

}

/* section07 */
.sec07 {
	position: relative;

	.inner {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	.col {
		position: relative;
		width: 100%;
		max-width: 770px;
		margin: auto 0;
		left: 50%;
		transform: translateX(-50%);

		.mark {
			position: absolute;
			left: -115px;
			top: -23%;
			z-index: 5;

			img {
				animation-name: rotate_image;
				animation-duration: 10s;
				animation-iteration-count: infinite;
				animation-timing-function: linear;
			}

		}

		.qrcode {
			position: absolute;
			top: 18px;
			right: 58px;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			text-align: left;

			img {
				margin-right: 16px;
			}

			span {
				font-size: 12px;
				line-height: 18px;
				letter-spacing: -.3px;
				color: #bfbfbf;
			}

		}

		h3 {
			position: relative;
			margin-bottom: 71px;
			font-size: 72px;
			font-weight: 300;
			line-height: 88px;
			letter-spacing: -1.8px;
			z-index: 20;

			.underline {
				&::before {
					bottom: 10px;
				}

			}

			span {
				&.line1 {
					float: left;
				}

				&.line2 {
					float: right;
				}

				&.line3 {
					display: block;
					text-align: center;
				}

			}

		}

	}

	.btn_app_down {
		justify-content: center;
	}

	.footer {
		width: 93.75%;
		padding-right: 62px;
		padding-bottom: 20px;
		text-align: left;
		z-index: 20;
		box-sizing: border-box;

		.bar {
			display: inline-block;
			vertical-align: middle;
			content: '';
			width: 1px;
			height: 14px;
			background: #ddd;
			margin: -3px 10px 0;
		}

		ul {
			@include clearfix;

			li {
				position: relative;
				display: block;
				float: left;
				margin: 0 20px 30px 0;

				&:first-child {
					&:before {
						position: absolute;
						content: '';
						top: 3px;
						right: -11px;
						width: 1px;
						height: 14px;
						background: #ddd;
					}

				}

				a {
					font-size: 14px;
					letter-spacing: -.35px;
					color: #666;
					text-decoration: none;
				}

			}

		}

		p {
			margin-bottom: 8px;
			font-size: 14px;
			line-height: 1.5;
			letter-spacing: 0;
			color: #666;
			word-break: keep-all;

			a {
				color: #000;
				font-weight: bold;
				text-decoration: none;
			}

			&.copyright {
				color: #ccc;
			}

		}

	}

	.btn_top_wrap {
		position: absolute;
		right: 3.125%;
		bottom: 8.3%;
		z-index: 30;

		.btn_top {
			position: relative;
			display: block;
			width: 60px;
			height: 60px;
			border: 1px solid #d9d9d9;
			border-radius: 50%;
			background: #fff;

			&::before {
				content: '';
				width: 9px;
				height: 9px;
				position: absolute;
				left: 50%;
				top: 50%;
				margin-top: -3px;
				border-left: 2px solid #000;
				border-top: 2px solid #000;
				transform: translate(-50%, -50%) rotate(45deg);
			}

			&::after {
				position: absolute;
				content: '';
				height: 19px;
				width: 2px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background: #000
			}

		}

	}

}

/* privacy_rules */
.privacy_rules {
	header {
		position: relative;
		top: auto;
		left: auto;
		padding: 44px 0 0 60px;
		margin-bottom: 172px;
		box-sizing: border-box;
	}

	.contents {
		max-width: 1280px;
		margin: 0 auto 120px;
		padding: 0 60px;
		box-sizing: border-box;

		.title {
			margin-bottom: 40px;
			padding-bottom: 45px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: 1px solid #333;

			h2 {
				font-size: 40px;
				line-height: 1;
				letter-spacing: -.5px;
			}

			/* Select box 스타일 초기화 */
			select {
				padding: 0 40px 0 19px;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				width: 200px;
				height: 48px;
				line-height: 48px;
				background: url(../images/icon_arrow_down.png) no-repeat 90% 50%;
				font-size: 14px;
				color: #333;
				border: 1px solid #e3e3e3;
				outline: none;
				box-sizing: border-box;

				&.active {
					background-image: url(../images/icon_arrow_up.png);
				}

			}

			/* IE 에서 Select box 화살표 제거 */
			select::-ms-expand {
				display: none;
			}

		}

		.mb0 {
			margin-bottom: 0 !important;
		}

		.mb10 {
			margin-bottom: 10px !important;
		}

		.pl20 {
			padding-left: 20px !important;
		}

		h2,
		h3,
		h4 {
			font-weight: bold;
			color: #333;
		}

		.tit_h3 {
			padding-top: 40px;
			margin-bottom: 40px;
			font-size: 24px;
			line-height: 36px;
			letter-spacing: -.6px;
		}

		.tit_h4 {
			margin-bottom: 10px;
			font-size: 16px;
			line-height: 31px;
			letter-spacing: -.4px;
		}

		> ol,
		> ul,
		p {
			margin-bottom: 40px;
			font-size: 16px;
			line-height: 28px;
			letter-spacing: -.35px;
			color: #666;
			word-break: keep-all;
		}

		ol,
		ul {
			li {
				margin-left: 20px;
				text-indent: -20px;
			}

			ol,
			ul {
				padding: 10px 0;

				li {
					font-size: 14px;
					line-height: 26px;
				}

			}

		}

		table {
			margin-bottom: 40px;
			width: 100%;
			border: 1px solid #ddd;

			th,
			td {
				padding: 10px;
				font-size: 13px;

				&:first-child {
					border-right: 1px solid #ddd;
				}

			}

			td {
				border-top: 1px solid #ddd;
			}

		}

	}

	.footer {
		width: 100%;
		padding: 40px 0 40px 60px;
		@include clearfix;
		border-top: 1px solid #ededed;
	}

}

/*******************************************************************************
	@media 1921px ~
*******************************************************************************/
@media all and (min-width:1921px) {
	.sec03 {
		.col_left {
			padding-left: 5.5%;
		}

	}

}

/*******************************************************************************
	@media 1201 ~ 1600px
*******************************************************************************/
@media (min-width:1201px) and (max-width:1600px) {
	.sec02 {
		.speech_bubble {
			width: 230px;

			&.lst_03 {
				left: 5%;
			}

			&.lst_05 {
				right: 5%;
			}

		}

	}

	.sec04 {
		.inner {
			width: 80%;
		}

	}

}

/*******************************************************************************
	@media ~ 1200px
*******************************************************************************/
@media all and (max-width:1200px) {
	.section {
		.inner {
			width: 100%;
		}

	}

	.sec01 {
		.inner {
			padding: 0 60px;
		}

		.m_view {
			img {
				width: 100%;
			}

		}

	}

	.sec02 {
		h2 {
			font-size: 34px;
		}

		.speech_bubble {
			width: 210px;

			&.lst_03 {
				left: 0;
			}

			&.lst_05 {
				right: 0
			}

		}

	}

}

/*******************************************************************************
	@media ~ 1024px
*******************************************************************************/
@media all and (max-width:1024px) {
	header {
		top: 3.125%;

		h1 {
			img {
				max-height: 16px;
			}

		}

	}

	.i_scroll {
		display: none !important;
	}

	.section {
		padding: 0 3.9%;

		.inner {
			padding: 0;
			width: 100%;
		}

		
		h2,
		h3 {
			.underline {
				&::before {
					height: 12px;
					bottom: 4px;
				}

			}

		}

	}

	.bar_wrap {
		padding: 0 3.9%;

		.bar {
			width: 20%;
			height: 100%;
			border-left: 1px solid #ebf0f5;

			&:nth-child(5) {
				border-right: 1px solid #ebf0f5;
			}

			&:nth-child(6),
			&:nth-child(7) {
				display: none;
			}

		}

	}

	h3.title {
		margin-bottom: 30px;
		font-size: 38px;
		line-height: 51px;

		>span {
			font-size: 18px;
			line-height: 21px;
		}

	}

	.summary {
		font-size: 14px;
		line-height: 22px;
		letter-spacing: -.35px;
	}

	.lst_sns {
		display: none;
	}

	.btn_app_down {
		a {
			width: 176px;
			height: 48px;
			font-size: 16px;

			i {
				margin: 0 6px 0 0;
				background-size: 100%;
			}

			&.i_android {
				i {
					width: 14px;
					height: 16px;
				}

			}

			&.i_ios {
				i {
					width: 14px;
					height: 17px;
				}

			}

		}

	}

	.sec01 {
		.col_left {
			width: 60%;
		}

		h2 {
			margin-bottom: 64px;
			font-size: 44px;
			line-height: 58px;
			letter-spacing: -1.1px;
		}

	}

	.sec02 {
		.tit {
			h3 {
				font-size: 28px;
				line-height: 42px;
			}

		}

		ul {
			li {
				height: 30px;
				line-height: 30px;
				font-size: 12px;
			}

		}

		.speech_bubble {
			padding: 17px 0;
			width: 208px;
			font-size: 14px;
			line-height: 22px;
			letter-spacing: -.25px;

			p {
				&::before {
					bottom: -30px;
					border-top: 15px solid #fff;
					border-bottom: 15px solid transparent;
					border-right: 15px solid #fff;
					border-left: 15px solid transparent;
				}

			}

			&.lst_01 {
				p {
					&::after {
						width: 34px;
						height: 31px;
					}

				}

			}

			&.lst_02 {
				p {
					&::after {
						top: -30px;
						width: 25px;
						height: 37px;
					}

				}

			}

			&.lst_03 {
				p {
					&::after {
						top: -27px;
						right: -10px;
						width: 35px;
						height: 35px;
					}

				}

			}

			&.lst_04 {
				p {
					&::after {
						top: -30px;
						width: 30px;
						height: 39px;
					}

				}

			}

			&.lst_05 {
				p {
					&::after {
						top: -30px;
						width: 32px;
						height: 34px;
					}

				}

			}

		}

	}

	.sec03 {
		padding: 0;

		.col_left {
			padding: 0 0 0 3.9%;
		}

		.m_view {
			figure {
				img {
					max-width: 457px;
				}

			}

			.slider_wrap {
				left: 116px;
				margin-top: -90px;

				.slick-list {
					.slick-slide {
						img {
							max-width: 270px;
						}

					}

				}

				.slick-dots {
					left: 195px;
				}

			}

		}

	}

	.sec04 {
		.m_view {
			img {
				width: 100%;
			}

			figure {
				img {
					max-width: 457px;
				}

			}

			.img_item {
				li {
					img {
						max-width: 358px;
					}

				}

				.item01 {
					left: -9%;
				}

				.item02 {
					left: 25%;
				}

			}

		}

	}

	.sec06 {
		.col {
			margin-bottom: 74px;
		}

	}

	.sec07 {
		.inner {
			padding: 12% 0 0;
			box-sizing: border-box;
		}

		.col {
			max-width: 568px;

			.mark {
				width: 123px;
				left: -92px;

				img {
					width: 100%;
				}

			}

			h3 {
				margin-bottom: 59px;
				font-size: 58px;
				line-height: 80px;
				letter-spacing: -1.45px;
			}

			.qrcode {
				right: 0;

				img {
					margin-right: 13px;
					width: 48px;
				}

				span {
					font-size: 10px;
					line-height: 14px;
				}

			}

		}

		.footer {
			padding-top: 20px;
			padding-right: 48px;

			ul {
				li {
					a {
						font-size: 12px;
					}

				}

			}

			p {
				font-size: 12px;
			}

		}

		.btn_top_wrap {
			bottom: 10%;

			.btn_top {
				width: 48px;
				height: 48px;

				&::before {
					margin-top: 0;
					width: 8px;
					height: 8px;
				}

				&::after {
					margin-top: 3px;
					height: 14px;
				}

			}

		}

	}

	.privacy_rules {
		header {
			margin-bottom: 143px;
			padding: 34px 0 0 41px;
		}

		.contents {
			padding: 0 32px;
			max-width: 960px;
			margin: 0 auto 60px;

			.title {
				padding-bottom: 32px;
				margin-bottom: 60px;

				h2 {
					font-size: 32px;
					word-break: keep-all;
				}

				select {
					width: 160px;
					height: 38px;
					line-height: 38px;
					font-size: 12px;
					padding: 0 35px 0 16px;
				}

			}

			.tit_h3 {
				font-size: 18px;
				line-height: 26px;
			}

			.tit_h4 {
				font-size: 14px;
				line-height: 22px;
			}

			> ol,
			> ul,
			p {
				margin-bottom: 30px;
				font-size: 14px;
				line-height: 22px;
				letter-spacing: -.3px;
			}

			ol,
			ul {
				li {
					margin-left: 14px;
					text-indent: -14px;
				}

				ol,
				ul {
					padding: 5px 0;

					li {
						font-size: 12px;
						line-height: 20px;
					}

				}

			}

		}

		.footer {
			padding: 40px 0 40px 30px;
		}

	}

}

/*******************************************************************************
	@media 751 ~ 900px
*******************************************************************************/
@media (min-width:751px) and (max-width:900px) {
	.sec02 {
		.tit {
			h3 {
				font-size: 24px;
				line-height: 32px;
			}

		}

		.speech_bubble {
			width: 170px;
			font-size: 13px;
			line-height: 21px;
		}

	}

	.sec03 {
		.col_left {
			width: 42%;
		}

		.m_view {
			width: 58%;
		}

	}

	.sec04 {
		.m_view {
			.img_item {
				.item01 {
					left: -5%;
				}

				.item02 {
					left: auto;
					right: 0;
				}

			}

		}

	}

	.sec07 {
		.inner {
			padding: 12% 0 0;
			box-sizing: border-box;
		}

	}

}

/*******************************************************************************
	@media ~ 750px
*******************************************************************************/
@media all and (max-width:750px) {
	html,
	body {
		font-size: 62.5%;
	}

	header {
		top: 3.6rem;
		left: 5.3%;

		h1 {
			img {
				max-height: 1.8rem;
			}

		}

	}

	.section {
		padding: 0 5.3%;

		.inner {
			padding: 0;
		}

	}

	.bar_wrap {
		padding: 0 5.3%;

		.bar {
			width: 33.3333%;

			&:nth-child(3) {
				border-right: 1px solid rgb(245, 245, 245);
			}

			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(6),
			&:nth-child(7) {
				display: none;
			}

		}

	}

	.btn_app_down {
		display: none;
	}

	.section {
		padding: 0;

		h2,
		h3.title {
			font-size: 2.4rem;
			line-height: 3.2rem;
			text-align: center;
	
			> span {
				font-size: 1.3rem;
			}
	
			.underline {
				&::before {
					height: .8rem;
					bottom: .2rem;
				}
	
			}
	
		}

	}


	.summary {
		font-size: 1.3rem;
		line-height: 2.2rem;
		letter-spacing: -.03rem;
		word-break: keep-all;
	}

	.pc_img {
		display: none;
	}

	.m_img {
		display: block;
	}

	.sec01 {
		.lst_sns {
			display: none;
		}

		.inner {
			display: block;

			.col_left {
				width: 100%;
			}

		}

		h2 {
			margin-bottom: 4rem;
			padding-top: 11.6rem;
			width: 100%;
			text-align: center;
			font-size: 2.8rem;
			line-height: 3.6rem;
		}

		.m_view {
			width: 100%;
			padding: 0 15%;
			box-sizing: border-box;

			figure {
				margin: 0 0 0 -7.5%;

				img {
					max-width: 100%;
				}

			}

		}

	}

	.sec02 {
		padding: 9% 0 11%;

		.inner {
			height: auto;
		}

		.tit {
			position: relative;
			top: auto;
			left: auto;
			transform: translate(0, 0);
			margin: 7rem 0 8.5rem;

			h3 {
				margin-bottom: 9%;
				font-size: 1.8rem;
				line-height: 2.6rem;
			}

			ul {
				margin-bottom: 20px;
			}

			li {
				margin-bottom: 5px;
				font-size: 1.2rem;
			}

		}

		.speech_bubble {
			position: relative;
			top: auto !important;
			left: auto !important;
			right: auto !important;
			bottom: auto !important;
			padding: 2.25rem 0;
			letter-spacing: -.65px;

			p {
				position: relative;
				font-size: 1.3rem;
				line-height: 2.2rem;

				&::before {
					bottom: -4rem;

					border: {
						top: 2rem solid #fff;
						bottom: 2rem solid transparent;
						right: 2rem solid #fff;
						left: 2rem solid transparent;
					}

				}

			}

			&.lst_01 {
				margin-left: 5.3%;
				margin-bottom: 9%;
				width: 60%;
			}

			&.lst_02 {
				margin-left: 27.73%;
				margin-bottom: 7rem;
				width: 63.8%;
			}

			&.lst_03 {
				margin: 0 auto;
				width: 60%;
			}

			&.lst_04,
			&.lst_05 {
				display: none;
			}

		}

		.tit,
		.speech_bubble {
			transition: none;
			animation-name: none;
			opacity: 1;
		}

	}

	.sec03 {
		.inner {
			display: block;
			padding: 9% 0;
		}

		.summary {
			text-align: center;
		}

		.col_left,
		.m_view {
			display: block;
			width: 100%;
			padding: 0;
		}

		.col_left {
			margin-bottom: 5rem;
		}

		.m_view {
			height: auto;

			figure {
				top: auto;
				transform: none;
				text-align: center;
				margin: 0 0 0 -7.5%;

				img {
					width: 74.5vw;
					max-width: 52.5rem;
				}

			}

			.slider_wrap {
				margin: 0;
				left: 26.3%;
				transform: translateY(-36%);

				.slick-list {
					.slick-slide {
						margin-right: .15rem;

						img {
							width: 47vw;
							max-width: 32.1rem;
						}

					}

				}

				.slick-dots {
					left: 34%;
					top: -10%;
				}

			}

		}

	}

	.sec04 {
		.inner {
			padding: 9% 0;
			flex-direction: column-reverse;
		}

		.m_view,
		.col_right {
			width: 100%;
		}

		.title {
			em {
				display: inline-block;
			}

		}

		.m_view {
			width: 100%;
			padding: 0 5.7%;
			text-align: center;
			box-sizing: border-box;

			figure {
				margin: 0 0 0 -4%;

				img {
					width: 100%;
					max-width: 100%;
				}

			}

			.img_item {
				display: none;
			}

		}

		.summary {
			text-align: center;
		}

	}

	.sec05 {
		.title {
			em {
				display: block;
			}

		}

		.summary {
			padding: 0 20%;

			span {
				display: inline-block;
			}

		}

		.m_view {
			img {
				max-width: 100%;
			}

		}

	}

	.sec06 {
		.inner {
			padding: 9% 10%;
		}

		.col {
			margin-bottom: 7.2rem;
		}

		h3.title {
			em {
				display: block;
			}

		}

	}

	.sec07 {
		.inner {
			padding-top: 25rem;
		}

		.col {
			.mark {
				left: 5.3%;
				top: -50%;

				img {
					width: 12.25rem;
				}

			}

			h3 {
				margin-bottom: 14rem;
				font-size: 3.6rem;
				line-height: 5rem;
				letter-spacing: -1.8px;

				.underline {
					&::before{
						height: .8rem;
						bottom: .4rem;
					}

				}

				br {
					display: none;
				}

				span {
					&.line1,
					&.line2,
					&.line3 {
						display: block;
						float: none;
						text-align: center;
					}

				}

			}

			.qrcode {
				display: none;
			}

		}

		.footer {
			width: 100%;
			padding: 0 6rem 9rem 5.3%;
			box-sizing: border-box;

			.bar {
				height: 1.2rem;
			}

			ul {
				li {
					a {
						color: #333;
					}

					&:first-child {
						&::before {
							top: .1rem;
							height: 1.2rem;
						}

					}

				}

			}

			p {
				font-size: 1.1rem;
				line-height: 2rem;
				margin-bottom: 0;
				color: #999;

				a {
					font-weight: normal;
					color: #999;
				}

				&.copyright {
					margin-top: 1rem;
					color: #999;
				}

				> .bar {
					display: none;
				}

				span {
					display: block;
				}

			}

		}

		.btn_top_wrap {
			bottom: 32%;
		}

	}

	.m_app_down {
		display: block;
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 6rem;
		line-height: 6rem;
		background-color: #398cf0;

		a {
			display: block;
			text-align: center;
			font-size: 1.6rem;
			font-weight: bold;
			color: #fff;
			text-decoration: none;
		}

	}

	.fp-section.fp-table,
	.fp-slide.fp-table {
		height: auto !important;
	}

	.privacy_rules {
		header {
			margin-bottom: 6.1rem;
			padding: 3.5rem 0 0 2rem;
		}

		.contents {
			padding: 0 2rem;
			max-width: 100%;
			width: 100%;

			.title {
				flex-direction: column;
				align-items: flex-start;
				padding-bottom: 0;
				margin-bottom: 3rem;
				border: 0;

				h2 {
					margin-bottom: 2rem;
					font-size: 2.5rem;
					line-height: 3.1rem;
				}

				select {
					width: 100%;
					height: 4.8rem;
					line-height: 4.8rem;
					font-size: 1.3rem;
					padding: 0 4rem 0 2rem;
					background-position: 95% 50%;
				}

			}

			.tit_h3 {
				padding-top: 2rem;
				margin-bottom: 3rem;
				font-size: 1.7rem;
				line-height: 2.6rem;
			}

			.tit_h4 {
				margin-bottom: 1.2rem;
				font-size: 1.3rem;
				line-height: 2.2rem;
			}

			> ol,
			> ul,
			p {
				margin-bottom: 3rem;
				font-size: 1.3rem;
				line-height: 2.2rem;
				letter-spacing: -.65px;
			}

			ol,
			ul {
				li {
					margin-left: 1.35rem;
					text-indent: -1.35rem;
				}

				ol,
				ul {
					padding: 5px 0;

					li {
						font-size: 1.2rem;
						line-height: 2.1rem;
					}

				}

			}

		}

		.footer {
			padding: 3rem 0 3rem 2rem;
		}

	}

}

/*******************************************************************************
	@media ~  480px
*******************************************************************************/
@media all and (max-width:480px) {
	.sec03 {
		.m_view {
			.slider_wrap {
				.slick-dots {
					top: -2.2vh;
					left: calc(47vw - 50px);

					li {
						margin: 0 .2rem;

						button {
							width: .5rem;
							height: .5rem;
						}

					}

				}

			}

		}

	}

}